{% extends "base.html" %}

{% block head %}
    <title>Page1</title>
{% endblock %}

{% block body %}
    <div>
        <form method="POST">
            <label for="city">Enter city: </label>
            <input type="text" step=0.01 id="city" name="city">
            <input type="submit" value="Submit" placeholder="Submit"><br>
        </form>


        {% if salpics %}
            <h2>Details with city name {{city}} is: </h2>
            <ul style="list-style-type:none">
                {% for salpic in salpics %}
                <table>
                    <tr>
                        <td>{{salpic[0]}}</td>
                        <td>{{salpic[1]}}</td>
                        <td>{{salpic[2]}}</td>
                        <td>{{salpic[3]}}</td>
                        <td>{{salpic[4]}}</td>
                    </tr>
                </table>
                {% endfor %}
            </ul>
        {% endif %}

        {% if salpics2 %}
            <h2>City within 100km are: </h2>
            <ul style="list-style-type:none">
                {% for salpic2 in salpics2 %}
                <table>
                    <tr>
                        <td>{{salpic2[0]}}</td>
                        <td>{{salpic2[1]}}</td>
                        <td>{{salpic2[2]}}</td>
                        <td>{{salpic2[3]}}</td>
                        <td>{{salpic2[4]}}</td>
                    </tr>
                </table>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

{% endblock %}