{% extends "base.html" %}

{% block head %}
    <title>Page2</title>
{% endblock %}

{% block body %}

    <div>
        <form method="POST" >
            <label for="minlat">Minimum lat: </label>
            <input type="number" step=0.01 id="minlat" name="minlat"><br><br>
            <label for="maxlat">Maximum lat: </label>
            <input type="number" step=0.01 id="maxlat" name="maxlat"><br><br>
            <label for="minlong">Minimum lat: </label>
            <input type="number" step=0.01 id="minlong" name="minlong"><br><br>
            <label for="maxlong">Maximum lat: </label>
            <input type="number" step=0.01 id="maxlong" name="maxlong"><br><br>
            <input type="submit" value="Submit" placeholder="Submit"><br>
        </form>


        {% if salpics %}
            <h2>Details with city name {{city}} is: </h2>
            <ul style="list-style-type:none">
                {% for salpic in salpics %}
                <table>
                    <tr>
                        <td>{{salpic[0]}}</td>
                        <td>{{salpic[1]}}</td>
                        <td>{{salpic[2]}}</td>
                        <td>{{salpic[3]}}</td>
                        <td>{{salpic[4]}}</td>
                    </tr>
                </table>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

{% endblock %}